* {
  font-family: "Times New Roman", "Comic Sans MS", "Helvetica";
}

.header {
  background-color: blue;
}

.main {
  background-color: white;
}

#overview {
  width: 680px;
  float: right;
}

#score {
  width:180px;
  float: left;
}

#links{
  text-align: center;
  clear: both;
}

.footer {
  text-size: 8px;
  color: #7d827d;
  clear: both;
}

div {
  margin-right: 15px;
  margin-left: 15px;
  background-color: white;
}

img {
  margin-right: 15px;
  margin-left: 15px;
  clear:both;
}

a.header {
  color: #e6ff08;
  margin: 40px;
}

a:visited.header {
  color: #07eb0b;
}

a:hover.header {
  color: white;
}

a[href="https://www.ucvts.tec.nj.us"] {
  color:blue;
}

a:hover[href="https://www.ucvts.tec.nj.us"] {
  color:red;
}

a[href="https://www.ucvts.tec.nj.us/Page/471"] {
  color:blue;
}

a:hover[href="https://www.ucvts.tec.nj.us/Page/471"] {
  color:red;
}

table > tr {
  border-bottom-style: solid;
}

ul {
  list-style-type: none;
}

body {
  background-color: blue;
}
