* {
  font-family: "Times New Roman", "Comic Sans MS", "Helvetica";
}

.header {
  background-color: blue;
}

.main {
  
}

#overview {
  
}

#score {
  
}

#links{
  text-align: center
}

.footer {
  text-size: 10px;
  color: #4a4948;
}

div {
  margin-right: 15px;
  margin-left: 15px;
}

img {
  margin-right: 15px;
  margin-left: 15px;
}

a.header {
  color: #e6ff08;
  margin: 40px;
}

a:visited.header {
  color: #07eb0b;
}

a:hover.header {
  color: white;
}

a {
  color:
}
